<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="game">
<!-- ORM, Mapper파일! -->
<!-- dto(Object) Relational(RDB, row) Mapping  ORM파일, mapper파일-->
	<insert id="insert" parameterType="gameDTO" >
		insert into game values (null,#{name},#{developer},#{grade},#{img})
	</insert>
	<update id="update" parameterType="gameDTO" >
		update game set name = #{name} where id = #{id}
	</update>
	<delete id="delete" parameterType="gameDTO" >
		delete from game where id = #{id}
	</delete>
	<select id="one" parameterType="gameDTO" resultType="gameDTO">
		select * from game where id = #{id}
	</select>
	<select id="list" resultType="gameDTO">
		select * from game order by grade desc
	</select>
	<select id="gameCount" resultType="Integer">
		select count(*) count from game
	</select>
	
	<select id="selectlistGame" resultType="gameDTO" parameterType="pageDTO">
		select  rownum, id, name, developer, grade
		from (
		select ROW_NUMBER() over(order by grade desc) as rownum, b.*
		from game b) game2
		where game2.rownum between #{start} and #{end}
	</select>
	
</mapper>











